@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 14px;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}
.title-1 {
    font-size: 34px;
    color: #070707;
}

/* Header */

.header {
    padding-top: 46px;
    background-color: #F1F1F1;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}
.logo {
    position: relative;
    padding: 0 12px 3px 0;

    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: #000;
}
.logo::after {
    content: "";
    position: absolute;
    right: 0;bottom: 0;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FDA300;
}
/* Navigation */
.nav {

}
.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
.nav-button {
    display: none;
}

.nav-link {
    color: #000;
}
.nav-link:hover {
    color: #606060;
}


/* .header-content */
.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;

}

.header-content {
    max-width: 500px;
    margin-top: 124px;
}
.header-heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 44px;
}
.header-content p {
    font-weight: 400;
    line-height: 2;
    color: #000000;
}

/* Service */
.services {
    padding: 90px 0;
}

.services-row {
    display: flex;
    row-gap: 60px;
    column-gap: 30px;
    flex-wrap: wrap;
}
.service-card {
    flex: 1 1 0;
    min-width: 315px;
}
.services-card-img {
    margin-bottom: 30px;
}
.service-card-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
}

.service-card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
}

/* Portfolio */
.portfolio {
    padding: 90px 0;
    background-color: #F1F1F1;
}

.portfolio-title {
    text-align: center;
    margin-bottom: 70px;
}

.project {
    text-align: center;
}

.project + .project {
    margin-top: 90px;
}
.project-img {
    margin-bottom: 40px;
}
.project-title {
    font-size: 18px;
    color: #070707;
}
.project-title a {
    color:#000;
    text-decoration: underline;
}

/* footer */
.contacts {
    text-align: center;
    padding: 90px 0;
}
.contacts-title {
    margin-bottom: 40px;
}
.title-1 {
}
.contacts-content {
    margin-bottom: 40px;
    font-size: 18px;
    margin-bottom: 0 auto 40px;
}
.contacts-content p + p {
    margin-top: 1em;
}
.contacts-button {

    margin-bottom: 80px;
}
.button {
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 7px 22px;
    background-color: #000;
    border-radius: 30px;

    font-size: 18px;
    color: #F1F1F1;
    transition: background-color 0.2s ease-in, top: 0.2s ease-in;
}
.button:hover, button:focus {
    background-color: #f13232;
}
.button:active {
    background-color: #000000;
    position: relative;
    top: 1px;
}
.contacts-social {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    align-items: center;
    margin-bottom: 40px;
}
.contacts-footer {
    font-size: 14px;
    color: #828282;
}
